<div class="ui container">
    <h1 class="jumbotron"><i class="comments outline icon"></i> Hey, <%= current_user.first_name %>!</h1>
    <h3 class="instructions">Welcome to Le Chat Meow!  Select a room to be a chatty cat...</h3>
    <li class="instructions">Your last login was TODO</li>
    <br>
    <h1 class="jumbotron"> <i class="sitemap icon"></i> Getting Started</h1>
    <h3 class="instructions"> You can chose a pre-existing room, or make your own.  Click the pics below for more info...</h3>


  <div class="ui grid small images">
    <div class="four wide column" data-variation="rounded" data-title="New Chatrooms" data-tooltip="Create and navigate with the left sidebar." data-position="bottom left">
      <%= image_tag("lcm1.png", class:"ui image") %>
    </div>
    <div class="four wide column" data-variation="rounded" data-title="Join A Chat" data-tooltip="Join / Leave / View a chat with the right sidebar." data-position="bottom left">
      <%= image_tag("lcm2.png", class:"ui image") %>
    </div>
    <div class="four wide column" data-variation="rounded" data-title="Be Your Cat!" data-tooltip="Chat as your cat!" data-position="bottom left">
      <%= image_tag("lcm3.png", class:"ui image") %>
    </div>

  </div>


</div>
