<h1 class="jumbotron">Welcome to Le Chat Meow!</h1>
<h2 class="instructions"> <span style=""> Le Chat Meow </span>is THE premiere real-time chat platform for cat owners everywhere!</h2>
<li class="instructions">New cat on the block? <span style="color:#FFD700;">  <%= link_to 'Sign up', new_user_registration_path %> </span></li>
<li class="instructions">Cool cats?  <span style="color:#FFD700;"> <%= link_to 'Log in', new_user_session_path %> </span></li>
