<h1 class="">Welcome to Le Chat Meow!</h1>
<h4 class=""> <span style=""> Le Chat Meow </span>is THE premiere real-time chat platform for cat owners everywhere!</h4>
<li class="">New cat on the block? <span style="color:#FFD700;">  <%= link_to 'Sign up', new_user_registration_path %> </span></li>
<li class="">Cool cats?  <span style="color:#FFD700;"> <%= link_to 'Log in', new_user_session_path %> </span></li>
<br>
<h4 class="">LCM features include: </h4>
  <li>Chat as your cat!</li>
  <li>Cat Bios</li>
  <li>Cavatars!</li>
  <li>Cat Emojis! (coming soon)</li>
  <li>Don't have a cat?  <span style="color:#FFD700;">  <%= link_to 'Sign up', new_user_registration_path %> </span> anyway!</li>
