@import "semantic-ui";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans%7CRoboto');

@import url('https://fonts.googleapis.com/css?family=Baloo');

/*** Variables ***/
/* colors */
$sunshine: #FFD700;
$steel-blue: #2A779B;

// Le Chat colors
$bone: #e8e8e8;
$coal: #374341;
$off_white: #2f3131;
$white: #dddddd;
$black: #000000;

$greymane: #c7c7c7;

$purp: #570096;
$indigo: #320056;
$dk_orchid: #9932CC;


/* Fonts */
$logo-font: 'Baloo', cursive;
$heading-font: 'Open sans', sans-serif;
$body-font: 'Roboto', sans-serif;


body {
	background-color: $bone;
	font-family: $body-font;
	height: 101vh;
}

.main {
	margin-bottom: 50px;
}

.images img {
	border: 2px solid $bone;
}

.my-link {
	color: $sunshine;
}

.jumbotron {
	font-family: $logo-font;
	font-size: 4em;
	color: $indigo;
}

.instructions {
	color: $purp;
}

a {
	// color: inherit;
}

.logo {
	color: $sunshine;
	font-family: $logo-font;
}

a.logo:hover {
  color: $purp;
}


.left-sidebar {
	height: 100%;
	background-color: $purp;
	text-align: center;

	a {
		color: $bone;

		:hover {
			color: white;
		}
	}

	h3 {
		color: $greymane;
		padding: 10px 5px 0px;
	}

	.ui.accordion {
		margin:	15px 3px 5px;
	}

	.menu {
		width: 100% !important;
	}
}


/**** Typography ****/
h1, h2, h3, h4, h5, h6 {
	// color: $greymane;
	font-family: $heading-font;
}

header {
	display: flex;
  align-items: center;
	background: $indigo;
	height: 90px;
	padding: 2%;
	margin-bottom: 1%;
}

.my-form {
	background: $purp;
	border-radius: 1%;
	padding: 2%;
	margin: 2%;
}

footer {
  background: $indigo;
  text-align: center;
	padding: 1.3%;
  height: 50px;
  display: flex;
  align-items: center;
	position: fixed;
	// margin-top: 75px;
	width: 100%;
	bottom: 0px;
}

i {
	color: $sunshine;
}

.user-profile i {
	color: #000000;
}



/*** Chat ***/

.chat {

	h2 {
		color: $black;
	}
	.message-view {
		padding: 5px;
		height: 50vh;
		overflow-y: scroll;
	}
	.message-input {
		input {
			display: none;
		}
	}
}
