<div class="ui stackable grid">
	<aside class="four wide column">
		<div class="ui segments left-sidebar">

			<h1 class="logo">Le Menu 	</h1>

			<div>
				<%= render 'chatrooms/your_chatrooms' %>
			</div>

			<div class="ui divider"></div>

			<div>
				<%= render 'chatrooms/direct_messages' %>
			</div>

			<div class="ui divider"></div>

			<div>
				<%= render 'chatrooms/all_chatrooms' %>
			</div>
		</div>

	</aside>

	<div class="twelve wide column">
		<div class="ui stackable grid">
		<%= yield %>
		</div>

	</div>
</div>
